<mark><font size ="4"><b> Добро пожаловать: </b> <%= current_user.email %> </font></mark>
<br>
<br>

<!-- <button>
  <%= link_to "каталог мобильных телефонов", mobile_phones_path %>
</button>
<button>
  <%= link_to "производители", manufacturers_path %>
</button>
<button>
  <%= link_to "цвета", colors_path %>
</button> -->