<table>
  <tr>
    <th>Цвета:</th>
  </tr>

  <%- @colors.each do |color| %>
    <tr>
      <td><%= link_to color.name, color_path(color) %></td>
    </tr>
  <% end %>
</table>
<br>

<button>
  <%= link_to "На главную", root_path %>
</button>

<button>
<%= link_to "добавить цвет", new_color_path %>
</button>
