<%= @color.name %>
<br>
<button>
  <%= link_to "редактировать", edit_color_path(@color) %>
</button>
<button>
  <%= link_to "удалить", color_path(@color), method: "DELETE", data: { confirm: "Are you sure?" } %>
</button>
<button>
  <%= link_to "назад", colors_path %>
</button>