table.table
  thead.thead-dark
    tr
      th scope="col"
      th scope="col" Модель:
      th scope="col" Объем памяти (Gb):
      th scope="col" Цена (руб.):
  tbody
    - @mobile_phones.each do |mobile_phone|
      tr
        td
          = link_to mobile_phone_path(mobile_phone) do
            - if mobile_phone.mobile_phone_pictures.first
              = image_tag mobile_phone.mobile_phone_pictures.first.picture.url(:thumb)
            - else
              = image_tag "/images/mobile_phone_missing_image.png", class: "thumb-icon"
        td
          = link_to mobile_phone.full_name, mobile_phone_path(mobile_phone), class: "black-link"
        td
          = mobile_phone.memory_storage
        td
          = display_price mobile_phone.price