<table>
  <tr>
    <th>Производитель</th>
    <th>Модель</th>
    <th>Объем памяти (Gb)</th>
  </tr>
  <%- @mobile_phones.each do |mobile_phone| %>
    <tr>
      <td><%= mobile_phone.manufacturer.name %></td>
      <td>
        <%= link_to mobile_phone.name, mobile_phone_path(mobile_phone)%>
      </td>
      <td><%= mobile_phone.memory_storage %></td>
    </tr>
  <% end %>
</table>

<!--
<button>
  <%= link_to "На главную", root_path %>
</button>
-->