= link_to "Основная информация", user_path("me"), class: "btn btn-warning"
| &nbsp;
= link_to "Адреса", addresses_path, class: "btn btn-warning"
| &nbsp;
= link_to "История заказов", user_path("me"), class: "btn btn-warning"
br
br
= link_to "Добавить адрес", new_address_path, class: "btn btn-primary btn-sm"
br
br
- current_user.addresses.each do |address|
  table.table
    thead
        tr.table-active
        th scope="row" Адрес:
        th scope="row" = link_to "Редактировать", edit_address_path(address)
        th scope="row" = link_to "Удалить", address_path(address), :method => :delete, data: {:confirm => "Удалить адрес. Вы уверены?" }
    tbody
      tr
        th scope="row" Основной адрес:
        th scope="row" = address.address_1
      tr
        th scope="row" Дополнительный адрес:
        th scope="row" = address.address_2
      tr
        th scope="row" Город:
        th scope="row" = address.city
      tr
        th scope="row" Страна:
        th scope="row" = address.country
      tr
        th scope="row" Индекс:
        th scope="row" = address.zip_code