/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *= require font-awesome
 *= require_tree .
 *= require_self
*/

.thumb-icon {
  width: 65px;
  max-height: 65px;
}

.black-link {
  color: #000000;
}

.black-link:hover {
  color: #f5b60a;
  text-decoration: none;
}


.carousel-control-next-icon-black, .carousel-control-prev-icon-black {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #1b1e218a no-repeat center center;
  background-size: 70% 70%;
}