<table>
  <tr>
    <th>Производители</th>
  </tr>

  <%- @manufacturers.each do |manufacturer| %>
    <tr>
      <td><%= link_to manufacturer.name, manufacturer_path(manufacturer) %></td>
    </tr>
  <% end %>
</table>

<!-- <button>
  <%= link_to "На главную", root_path %>
</button> -->

<button>
<%= link_to "добавить производителя", new_manufacturer_path %>
</button>
