- units = current_user && current_user.currency ? current_user.currency.name : "BYN "

= link_to "#{current_order.order_mobile_phones.size} Товаров в корзине ( #{number_to_currency current_order.subtotal, unit: units} )", cart_path("me"), class: "nav-link href"
